.video{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: chartreuse;
}
#footer1{
    width: 100%;
    height: 800px;
    background-color: black;

}
.homeButton{
    background-color: chartreuse;
    
    height: 20px;
    width: 300px;
     margin: 20px;
}