.video{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: chartreuse;
}
#footer1{
    width: 100%;
   height: 800px;
    background-color: black;
margin-top: 500px;
}
.ExploreButton{
    cursor: pointer;
    background-color: chartreuse;
    height: 50px;
    width: 300px;
    margin-left: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
     border-radius: 10px;
}
.ExploreButton:hover{
  background-color: blue;
}
.HomePage1{
 padding-top:80px;   
}